.skill {
  width: 160px;
  height: 160px;
  position: relative;
}

.outer {
  width: 160px;
  height: 160px;
  border: 1px solid  white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  border: 1px solid  white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.number {
  font-weight: 600;
  font-size: 30px;
    color: white;
}

circle {
  fill: none;
  stroke: url(#GradientColor);
  stroke-width: 20px;
  stroke-dasharray: 450;
  stroke-dashoffset: 450;
  animation: anime 1.5s linear forwards;
}
@keyframes anime {
  100% {
    stroke-dashoffset: 90.5;
  }
}

svg {
  transform: translateY(-160px);
}

.floor {
  gap: 3rem;
}

.text {
  display: flex;
  align-items: center;
  justify-content: center;
}
table {
  width: 100vw;
}
tr {
  margin-top: 5%;
  display: flex;
  justify-content: space-evenly;
}
.lang {
  /* margin: 50px; */
  position: sticky;
  margin-top: -10%;
  /* margin-bottom: 10%; */
}

.heading {
  font-size: 45px;
  margin-left: 41rem;
  margin-top: 8rem;
  /* margin-bottom: 1rem; */
}
